$color-primary: #f38e82;
$color-grad-1: #fbdb89;
$color-grad-2: #f48982;

$color-grey-light-1: #f9f5f3; // Light background
$color-grey-light-2: #f2efee; // Light lines
$color-grey-light-3: #d3c7c3; // Light text (placeholder)
$color-grey-dark-1: #615551; // Normal text
$color-grey-dark-2: #918581; // Lighter text

$transition-duration-s: .2s;
$transition-duration-m: .3s;
$transition-duration-l: .4s;
$transition-duration-xl: .5s;

$gradient: linear-gradient(to right bottom, $color-grad-1, $color-grad-2);

$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

// Header height global var
$header-height: 10rem;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.not-sr-only {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

html {
  box-sizing: border-box;
  font-size: 50%;

  @media only screen and (min-width: $bp-medium) {
    font-size: 62.5%;
  }
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $color-grey-dark-1;
  background-image: $gradient;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.container {
  $container-m-y: 4vw;
  max-width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #fff;
  border-radius: 0;
  overflow: hidden;
  box-shadow: 0 2rem 6rem .5rem rgba($color-grey-dark-1, .2);

  display: grid;
  grid-template:
    "head head" $header-height
    "recipe recipe" calc(100vh - $header-height) / 1fr;

  @supports(height: 100dvh) {
    height: 100dvh;
    grid-template:
      "head head" $header-height
      "recipe recipe" calc(100dvh - $header-height) / 1fr;
  }

  @media only screen and (min-width: $bp-medium) {
    grid-template:
      "head head" $header-height
      "list recipe" calc(100vh - $header-height) / 1fr 2fr;

    @supports(height: 100dvh) {
      grid-template:
        "head head" $header-height
        "list recipe" calc(100dvh - $header-height) / 1fr 2fr;
    }
  }

  @media only screen and (min-width: $bp-large) {
    height: calc(100vh - 2 * $container-m-y);
    max-width: 120rem;
    margin: $container-m-y auto;
    border-radius: 9px;
    grid-template:
      "head head" $header-height
      "list recipe" calc(100vh - (2 * $container-m-y) - $header-height) / 1fr 2fr;

    @supports(height: 100dvh) {
      height: calc(100dvh - 2 * $container-m-y);
      grid-template:
        "head head" $header-height
        "list recipe" calc(100dvh - (2 * $container-m-y) - $header-height) / 1fr 2fr;
    }
  }
}
