.header {
  grid-area: head;
  background-color: $color-grey-light-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 2rem;
  z-index: 2;

  &__logo {
    height: 4.6rem;
    display: block;

    &-wrapper {
      flex-grow: 1;
    }
  }

  @media only screen and (min-width: $bp-medium) {
    &__logo-wrapper {
      flex-grow: 0;
    }
  }
}

.search {
  position: relative;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  transition-duration: $transition-duration-s;
  transition-property: transform, box-shadow;

  @media only screen and (min-width: $bp-medium) {
    background-color: #fff;

    &:focus-within {
      transform: translateY(-2px);
      box-shadow: 0 .7rem 3rem rgba($color-grey-dark-1, .08);
    }
  }

  &__field {
    position: fixed;
    top: $header-height;
    left: 0;
    width: 100vw;
    padding: 2.7rem;
    box-shadow: 0 4rem 4rem 0 rgba(0,0,0,.35);
    border: none;
    background: #fff;
    font-family: inherit;
    color: inherit;
    font-size: 1.7rem;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-1rem);
    transition-duration: $transition-duration-s;
    transition-property: visibility, opacity, transform;

    &.active {
      display: block;
      visibility: visible;
      transform: translateY(0);
      opacity: 1;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-grey-light-3;
    }

    @media only screen and (min-width: $bp-medium) {
      display: block;
      background: none;
      box-shadow: none;
      position: static;
      width: 30rem;
      padding: 0 0 0 1.5rem;
      border-radius: 0;
      top: unset;
      left: unset;
      transform: unset;
      visibility: visible;
      opacity: 1;
    }
  }

  &__btn {
    padding: 1rem;
    font-weight: 600;
    font-family: inherit;

    @media only screen and (min-width: $bp-medium) {
      padding: 1.5rem 4rem;
    }

    > :first-child {
      margin-right: 0;

      @media only screen and (min-width: $bp-medium) {
        margin-right: 1rem;
      }
    }

    span {
      display: none;

      @media only screen and (min-width: $bp-medium) {
        display: block;
      }
    }
  }
}

.nav {
  align-self: stretch;

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1.5rem;
  }

  &__item {
    position: relative;
  }

  &__btn {
    padding: 1rem 0;
    font-family: inherit;
    color: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      transform: scale(1.05);
    }

    span {
      display: none;

      @media only screen and (min-width: $bp-medium) {
        display: block;
        padding-left: .5rem;
      }
    }

    svg {
      height: 3rem;
      width: 3rem;
      fill: $color-primary;

      @media only screen and (min-width: $bp-medium) {
        height: 2.4rem;
        width: 2.4rem;
      }
    }
  }
}

.bookmarks {
  padding: 1rem;
  position: absolute;
  right: -2rem;
  z-index: 10;
  width: 40rem;
  background-color: #fff;
  box-shadow: 0 .8rem 5rem 2rem rgba($color-grey-dark-1, .1);
  visibility: hidden;
  opacity: 0;
  transition: $transition-duration-xl $transition-duration-s;
  transition-property: visibility, opacity;

  &__list {
    list-style: none;
  }

  &__field {
    cursor: pointer;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    height: 100%;
    transition: background-color $transition-duration-s;

    &:hover {
      background-color: $color-grey-light-2;
    }
  }

  &:hover,
  .nav__btn--bookmarks.active + & {
    visibility: visible;
    opacity: 1;
  }
}
