.search-results {
  position: absolute;
  top: $header-height;
  height: calc(100vh - $header-height);
  width: 100vw;
  background: #fff;
  transform: translateX(-100%);
  transition-duration: $transition-duration-m;
  transition-property: transform, visibility;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
  visibility: hidden;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(4px);
    transition: $transition-duration-m;
    transition-property: opacity, visibility;
    opacity: 0;
    visibility: hidden;
  }

  &.active {
    transform: translateX(0);
    visibility: visible;

    &::after {
      left: 100%;
      opacity: 1;
      visibility: visible;
    }
  }

  .skip-to-recipe {
    position: absolute;
    transform: translateY(-100%);
    top: 0;
    left: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: $transition-duration-s;
    transition-property: opacity, visibility, transform;
    box-shadow: 0 1rem 1rem 0 rgba(0,0,0,.15);
    padding: 1.5rem;
    background-color: #fff;
    width: 100%;
    z-index: 2;

    &:focus-within {
      transform: translateY(0);
      opacity: 1;
    }

    &__cta {
      background-color: transparent;
      border: none;
      text-transform: uppercase;
      font-size: 1.3rem;
      color: #000;
      text-decoration: none;
    }
  }

  @supports(height: 100dvh) {
    height: calc(100dvh - $header-height);
  }

  @media only screen and (min-width: $bp-small) {
    width: 60vw;
  }

  @media only screen and (min-width: $bp-medium) {
    transition: none;
    position: relative;
    left: unset;
    top: unset;
    height: auto;
    width: auto;
    transform: none;
    visibility: visible;

    &::after {
      content: none;
    }
  }
}

.search-results-trigger {
  @media only screen and (min-width: $bp-medium) {
    display: none;
  }
}

.results {
  list-style: none;
  padding: 1rem 1rem;
  margin: 1rem 0;
  overflow-y: auto;
  flex-grow: 1;
}

.pagination {
  margin-top: auto;
  padding: 0 3.5rem;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: left;
    }
    &--next {
      float: right;
    }
  }
}

.copyright {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
  }
}
